<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>AadharPay | E-wallet </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="">
<nav class="navbar navbar-default colornav" id="nav-zero">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand logo" href="#"><img src="img/logo.png" class="img-responsive"></a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">home</a></li>
<li><a href="#">about</a></li>
<li><a href="#">help</a></li>
<li><a href="#">faq</a></li>
<li><a href="#">login</a></li>
<li><a href="#">register</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

    <section class="grey">
        <div class="container-fluid" id="white-bound">
            <div class="row">
                <div class="col-md-3 wallet">
                    <ul>
                        <li>
                    <span class="span1">Wallet</span>
                    <span class="span2">INR {{amount}}</span>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">Add money</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal1">Send money</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal2">Request money</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal2">Pay govt. bills</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal2">Insurance premiums</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 transaction">
                    <div class="welcome">
                        <h2>Welcome {{name}} to aadhaarpay wallet</h2>
                        <p>aadhaar pay allows you to make transactions anywhere anytime securely.</p>
                    </div>
                    <div class="balance">
                        <p>Balance <span>{{amount}}</span></p>
                    </div>
                    <div class="balance" id="transactions">
                        <p>TRANSACTIONS</p>
                    </div>
                    <ul class="history-list" >
                        
                        {{{infoData}}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send money</h4>
                </div>
                <div class="modal-body">
                    <form class="register">
                        <div class="form-group" >
                            <label for="aadhaarnumber" class="label1">Enter receipients aadhaar number/ username</label>
                            <input type="text" class="form-control uid" id="uid" placeholder="uid" name="uid" autofocus>
                            <span>- OR -</span>
                            <input type="text" class="form-control username" id="username" placeholder="username" name="username" autofocus>

                        </div>
                        <div class="form-group">
                            <label for="aadhaarnumber">Enter amount :</label>
                            <input type="number" class="form-control" id="amount" placeholder="" name="amount">
                        </div>
                        <button type="button" class="btn btn-default btn-block btn1" name="c2c">Send money</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add money (DEMO Data / Actual transaction may vary on banks api)</h4>
                </div>
                <div class="modal-body">
                    <form class="register">
                        <div class="form-group" >
                            <label for="aadhaarnumber">Give bank details</label>
                            <input type="text" class="form-control" id="uid" placeholder="" name="details" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="aadhaarnumber">Enter amount :</label>
                            <input type="number" class="form-control" id="amount" placeholder="" name="amount">
                        </div>
                        <button type="button" class="btn btn-default btn-block btn1" name="b2c">Add money</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Request a friend</h4>
                </div>
                <div class="modal-body">
                    <form class="register">
                        <div class="form-group">
                            <label for="aadhaarnumber" class="label1">Enter payee aadhaar number/ username</label>
                            <input type="text" class="form-control uid" id="uid" placeholder="uid" name="uid" autofocus>
                            <span>- OR -</span>
                            <input type="text" class="form-control username" id="uid" placeholder="username" name="uid" autofocus>

                        </div>
                        <div class="form-group">
                            <label for="aadhaarnumber">Enter amount :</label>
                            <input type="password" class="form-control" id="password" placeholder="" name="password">
                        </div>
                        <button type="submit" class="btn btn-default btn-block btn1" name="add">Add money</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/dashboard.js"></script>
</body>
</html>
